.app {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #00876e 35%, #03bf9a);
}

.app-header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: white;
}

.options {
  display: flex;
}

.options-item {
  display: flex;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.icons {
  display: flex;
  align-items: center;
}

.icons-item {
  width: 50px;
  margin-right: 2rem;
}

.icons-item img {
  width: 2rem;
}
